@page "/counter/"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@if (currentCount % 2 == 0)
{
    <p>The count is even.</p>
}
else
{
    <p>The count is odd.</p>
}

<button class="btn btn-primary" @onclick="() => currentCount++">Click me</button>

@if (currentCount % 5 == 0 && currentCount != 0)
{
    <p style="color: red;">Congratulations! You've reached a multiple of 5.</p>
}

<input @onchange="InputChange" />
<p>@message</p>

<input @bind="text" />
<button @onclick="() => text = string.Empty">clear</button>
<p>@text</p>

@code {
    private int currentCount = 0;
    private string text = "";
    private string message = "";

     @* private void IncrementCount()
    {
        currentCount++;
    } *@

    private void InputChange(ChangeEventArgs e)
    {
        message = (string)e.Value;
    }
}



